.profileSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F9FE; /* Ajuste si besoin */
  padding: 20px;
  border-radius: 12px;
}

.profileInfoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LA PHOTO RECTANGULAIRE */
.profileAvatar {
  width: 104px;
  height: 117px;
  border-radius: 8px;
  object-fit: cover; 
}

.profileName {
  font-size: 22px;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  margin: 0 0 5px 0;
}

.profileSub {
  font-size: 14px;
  color: #7A7A7A;
  margin: 0;
}

.profileDistanceWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileTotalDistanceLabel {
  font-size: 14px;
  color: #7A7A7A;
}

.profileTotalDistanceButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: rgba(11, 35, 244, 1); 
  border-radius: 10px;                  
  width: 183px;                          
  height: 90px;                          
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}